<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>email_template</title>
    </head>
    <body>
        <table style="background-color: #f7f7f7;">
            <tr>
            
                <td>Vendor Name:</td>
                <td>Nishat Mills Ltd</td>
            </tr>
            <tr>
            
                <td>Po Number:</td>
                <td>44976</td>
            </tr>
            <tr>
            
                <td>Ship Quantity:</td>
                <td>45</td>
            </tr>
            <tr>
            
                <td>Total Packs</td>
                <td>6</td>
            </tr>
        </table>
    </body>
</html>